#!/bin/bash

# Check if nvcc is installed and in the PATH
if command -v nvcc >/dev/null 2>&1
then
    echo "NVCC found. Enabling CUDA for build."
    export MAKE_ARGS="-DGGML_CUDA=on"
else
    echo "NVCC not found. CUDA support not enabled."
fi

source .venv/bin/activate
uv sync